/*home.css*/
.header{
	width: 100%;
	height: 100%;
	margin: 10px auto;
}

.header > h2{
	margin-top: 15px;
	font-size: 50px;
}

.nav{
	width: 100%;
	height: 100%;
	padding: 10px;
}

.menu{
	width: 100%;
	height: 90%;
	display: inline-block;
	text-align: center;
	line-height: 325px;
}

.menu > p > a{
	width: 200px;
	height: 200px;
	line-height: 200px;
	position: absolute;
	font-size: 50px;
	color: transparent;
}
.menu > p > a:hover{
	text-decoration: none;
	color: white;
	background-color: rgba(4,0,0,0.4);
	border-radius: 100%;
}

.menu1{
	width: 25%;
	height: 95%;
	overflow: hidden;
	position: relative;
}
.menu1 > p > a{
	top: 35%;
	left: 20%;
}

.menu2{
	width: 25%;
	height: 95%;
	overflow: hidden;
	position: relative;
}
.menu2 > p > a{
	top: 35%;
	left: 20%;
}

.menu3{
	width: 25%;
	height: 95%;
	overflow: hidden;
	position: relative;
}
.menu3 > p > a{
	top: 35%;
	left: 20%;
}

.menu4{
	width: 25%;
	height: 95%;
	overflow: hidden;
	position: relative;
}
.menu4 > p > a{
	top: 35%;
	left: 20%;
}

