/*index.css*/
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Jua', sans-serif;
}

body{
	width: 1280px;
	height: 800px;
	margin: 10px auto;
}
.navbar{
	border-radius: 5px;
}

.navbar-brand{
	margin-left: 10px;
	font-size: 30px;
}
.navbar-nav{
	margin-left: 45%;
}

.header{
	font-size: 20px;
}

.sumenu{
	margin-top: 10px;
	padding: 10px;
	width: 250px;
	height: 690px;
	position: absolute;
}


.text{
	padding: 20px;
	margin-top: 10px;
	position: relative;
	left: 250px;
	width: 1030px;
}