/* gystyle.css = 경주월드 css */
.home > div > a > img {
	width: 400px;
	height: 300px;
	margin-bottom: 20px;
}

.find > h2 {
	margin-top: 10px;
}

.find > a > img {
	width: 950px;
 	height: 350px;
 	margin-left: 30px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
}

.money > img {
	width: 100%;
	height: 280px;
}

.map > a > img {
	width: 100%;
}

.attraction > div > h3 {
	margin-top: 10px;
	margin-bottom: px;
}

.attraction > div > img {
	margin-bottom: 5px;
}

.attraction > div > h6 {
	margin-bottom: 10px;
}

