/* evstyle.css = 에버랜드 css */
.link{
	margin-top: 10px;
	text-align: right;
}
.sumenu > div > a > h2{
	padding-top: 5px;
	line-height: 45px;
}

.attraction > div > p{
	margin-top: 5px;
}

.attraction > div > img:hover{
	animation : imgani 1s;
}

@keyframes imgani{
	from{
		
	}
	to{
		transform: scale(1.1);
	}
}

.text > div > div{
	margin-top: 10px;
}

.new> div > div > a > img, .tip> div > div > a > img{
	margin-bottom: 5px;
}

.tip > div > div > a > img:hover{
	animation: tipani 2s;
}

@keyframes tipani{
	from{

	}
	to{
		transform: rotate(360deg);
	}
}

.text > img{
	width: 100%;
	margin: 10px auto;
	height: 400px;
}


